body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

header {
  max-height: 4rem;
}

form {
  margin-bottom: 0rem;
}

.simulation {
  color: white;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
}
